@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


.chatPage{
    display: flex;
    align-items: row;
}
.serverList{
    height: 100vh;
    width: 125px;
    background-color: #202225;
}

.channelList{
    height: 100vh;
    flex-basis: 240px;
    min-width: 240px;
    background-color: #303237;
}

.serverUserList{
    height: 100vh;
    flex-basis: 240px;
    min-width: 240px;
}

.messageList {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #36393f;
}