.serverIcon{
    border-radius: 50%;
    height: 50px;
    transition: .1s;
}

.serverIcon:hover{
    border-radius: 25%;
    transition: .1s;
}

.server{
    list-style-type: none;
    margin: 3px;
}

.serverIndex{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createServer{
    font-size: 40px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #2a2c30;
    text-align: center;
    color: #43b581;
    transition: .1s;
    margin: 3px;
}

.createServer:hover{
    color: white;
    background-color: #43b581;
    border-radius: 25%;
    transition: .1s;
    cursor: pointer;
}

.meServer{
    color: white;
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2a2c30;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

.meServer:hover{
    border-radius: 25%;
    background-color: #43b581;
    transition: .1s;
}

.serverHR{
    width: 33%;
    border-color: #82868b;
}