

.messageHeader{
    border-bottom: 1px solid black;
    height: 50px;
    width: 100%;
    box-shadow: 0px 0px 1px 0px black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.messageHeaderLeft{
    display: flex;
    align-items: center;
}

.hash{
    font-size: 25px;
    margin: 0px 10px 0px 20px;
    color: #72767d;
}

.messageInput input[type="text"] {
    width: 95%;
    margin: 0px 10px 10px 10px;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #484b52;
    color: white;
}

.messageInput input[type="text"]:placeholder {
    color: #7e8085;
}

.messageContainer {
    color: white;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 0px;
    height: 78vh;
    margin: 0px 5px;
    width: 99%;
    transform: translateY(5px);
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f3136;
}

::-webkit-scrollbar-thumb {
  background: #202225; 
  border-top: 4px solid #36393f;
  border-bottom: 4px solid #36393f;
}

.message{
    width: 99%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.messageHR{
    width: 96%;
    border: none;
    border-top: 1px solid #42454a;
    margin: 0px 0px 20px 0px;
    padding: 0px 20px 0px 0px;
}

.bottomHR{
    width: 95%;
    border: none;
    border-top: 1px solid #42454a;
    margin: 0px 0px 20px 0px;
    padding: 0px 20px 0px 0px;
    transform: translateX(10px);
}

.messageBody{
    display: flex;
}

.messageIcon{
    height: 40px;
    border-radius: 50%;
}

.messageText{
    margin: 0px 20px;
}

.messageAuthor{
    font-weight: 700;
}

.messageDate{
    font-size: 12px;
    color: #5b5e63;
}
