@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

.background {
    position: relative;
}

.formPageHeader{
    position: absolute;
    top: 55px;
    left: 55px;
    opacity: 0;
    animation-name: dropIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: .25s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

.top{
    opacity: 0;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: .25s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    height: 120%;
    position: absolute;
    left: 0px;
    bottom: 0px;

}

.under{
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    width: 100%;
    left: 0px;
    position: absolute;
}

.formPage{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.formPageHeader{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: white;
}

.signupPageBody{
    height: 490px;
    width: 480px;
    position: absolute;
    left: 450px;
    top: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    opacity: 0;
    animation-name: formIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: .25s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}

.loginPageBody{
    height: 425px;
    width: 480px;
    position: absolute;
    left: 445px;
    top: 280px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    opacity: 0;
    animation-name: formIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: .25s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}

.fadeOut{
    opacity: 1;
    animation-name: formOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: .1s;
}

.formForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #36393f;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    box-shadow: 0px 0px 2px black;
}

.formForm h1{
    font-size: 25px;
    margin: 23px 0px 0px 0px;
    font-weight: 300;
}

.formForm p{
    font-size: 18px;
    font-weight: 300;
    color: #72767d;
    margin: 10px 0px;
}

.formEntry{
    display: flex;
    flex-direction: column;
    width: 400px;
    translate: -20px 0px;
    margin: 15px 0px 0px 0px;
}

.userInput{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    width: 100%;
}



input[type="text"], input[type="password"]{
    font-size: 15px;
    color: white;
    background-color: #313339;
    padding: 5px 10px;
    height: 25px;
    border: 1px solid #212327;
    border-radius: 3px;
    width: 380px;
    
    margin: 10px 0px;
}

input:focus{
    transition: .12s;
    outline: none;
    // box-shadow: 0 0 0 1px #7289DA;
    border: 1px solid #7289DA;
    // outline-style: solid;
    // outline-width: thin;
    // outline-color: #7289DA;
    // : 1px solid #7289DA;
}

.fieldType{
    font-size: 12px;
    font-weight: 700;
    color:#b9bbbe;
}

input[type="submit"]{
    background-color: #7289DA;
    height: 45px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    transition: .25s;

}

input[type="submit"]:hover{
    background-color: #677bc4;
    transition: .25s;
}

.formForm p{
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}

.formForm p .formTransition{
    font-weight: 700;
    color: #677bc4;
    cursor: pointer;
}

.formForm p .formTransition:hover{
    text-decoration: underline;
}

@keyframes formIn{
    0% {
        opacity: 0;
        transform: translate(10px, -40px);
    }
    80%{
        transform: translate(-2px, 5px);
    }
    100%{
        opacity: 1;
        
    }
}

@keyframes dropIn{
    0% {
        opacity: 0;
        transform: translate(0px, -40px);
    }
    80%{
        transform: translate(0px, 5px);
    }
    100%{
        opacity: 1;
        
    }
}

@keyframes formOut{
    100%{
        opacity: 0;
        transform: translate(10px, -40px);
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
