.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .8;
    z-index: 7;
}

.createChannelModal{
    font-family: "Lato", sans-serif;
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    opacity: 100%;
    transform: translate(-50%, -50%);
    background-color: #36393f;
    border-radius: 5px;
    color: white;
    /* padding: 20px; */
}

.createChannelModal input[type="text"]{
    width: 380px;
    transition: .25s;
    margin-top: 10px;
}

.createChannelModal input[type="text"]:hover{
    border: 1px solid black;
    transition: .25s;
}

.createChannelModal p{
    font-weight: 700;
    margin: 20px;
    font-size: 15px;
}

.createChannelInput span{
    font-size: 12px;
    font-weight: 700;
    color: #b9bbbe;
    transform: translateX(20px);
}

.createChannelFooter{
    background-color: #2f3136;
    height: 80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
}

.createChannelFooter input[type="submit"]{
    font-size: 14px;
    padding: 3px 15px;
    height: 40px;
    cursor: pointer;
}

.createChannelFooter .closeCreate{
    color: white;
    font-size: 14px;
    padding: 3px 15px;
    width: 80px;
    margin: 0px 10px;
}

.closeCreate div{
    text-align: center;
    width: auto;
}

.closeCreate div:hover{
    cursor: pointer;
    text-decoration: underline;
}

.createChFormInput{
    height: 100px;
    padding: 20px;
}

.inviteKeyForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inviteKeyForm span{
    font-size: 20px;
}

.inviteKeyForm .inviteKey{
    font-size: 15px;
    margin: 35px;
    background-color: #2c2f33;
    padding: 10px 30px;
    border-radius: 4px;
}

.inviteKeyForm .switchButton{
    font-size: 15px;
    margin: 20px;
    padding: 10px;
    background-color: #7289DA;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    transform: translateY(-30px);
    cursor: pointer;
    transition: .25s;
}

.inviteKeyForm .switchButton:hover{
    background-color: #677bc4;
    transition: .25s;
}